#sidebarCollapsed {
  position: fixed;
}

.inputDiv {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
}

.nav-tabs-custom > div {
  border: 1px solid #e3e3e3;
  border-radius: 2px;
}

#title_button{
  font-size: 100%;
  margin: auto;
}

.shiny-flow-layout > div {
  width: 24.5%;
  min-width: 150px;
}

#tab_evs {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
}

#fit_formula {
  font-family: Monaco;
}

.box{
 border: 1px solid #e3e3e3; 
}

.wideDivBox {
  padding:0;
}

.narrowDiv img {
  width: 100%;
  margin-top:15px;
  margin-bottom:15px;
}

.narrowDiv blockquote {
  font-family: 'Source Sans Pro';
  font-size:100%;
  color: #767171;
  border-left-color: #767171;
}


@media (min-width: 770px) {
  
  .main-header {
    display: none;
  }
  
}


